html, body{
    margin: 0px;
    padding: 0px;
}

#game{
    display: grid;
    height:600px;
    width: 600px;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(40,1fr);
    margin: auto;
    margin-top:20px;
    background: #242424;
    grid-gap:2px;
    
    
    
}

.box{
    background: pink;
/*    border: 2px solid black;*/
    height: calc(100%-2px);
    width: calc(100%-2px);
    border-radius: 1px;
}


.container{
    display:flex;
    flex-direction: column;
    justify-items: center;
}

#startButton, #update{
    margin: auto;
    margin-top: 30px;
    height:30px;
    width:100px;
    border: 1px black solid;
    border-radius: 7px;
    
}



#startButton:hover{
    background: grey;
}

p{
    margin-top:50px;
    text-align: center;
}